$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$bg-light: rgb(255, 255, 255);
$bg-medium: rgb(245, 245, 245);
$bg-dark: rgb(233, 233, 233);
$bg-darker: rgb(61, 61, 61);

