* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", "sans-serif";
}

h2 {
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 3px;
}

.menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 30px;
}
.menu h2 {
  font-weight: 300;
  font-size: 16px;
  margin-left: 10px;
}
.menu h3 {
  font-weight: 600;
  font-size: 16px;
}
.menu .meal_text p {
  font-weight: 300;
  font-size: 14px;
}
.menu .meal_price p {
  font-weight: 600;
  font-size: 14px;
}

.btn {
  width: 220px;
  padding: 17px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 50px;
  font-size: 16px;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.card img {
  width: 300px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card .new {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 11px;
  font-weight: bold;
  color: #278870;
  background-color: #99E2D0;
  border: solid 0.5px #278870;
}
.card .card_text {
  margin: 8px;
  font-size: 12px;
  color: black;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  height: 30px;
}

footer {
  padding: 15px;
  background-color: rgb(61, 61, 61);
  color: white;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 16px;
}
footer ul {
  list-style-type: none;
  font-size: 13px;
}
footer li {
  margin-top: 5px;
}

.location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 233, 233);
  box-shadow: 0px -2px 6px -2px rgba(0, 0, 0, 0.35);
}
.location * {
  font-weight: 600;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 45px 35px;
  background-color: rgb(245, 245, 245);
}
.section1 .btn {
  margin-top: 15px;
}

.section2 {
  position: relative;
  padding: 45px 15px;
  background-color: white;
}
.section2 .section2_bloc {
  margin-left: 10px;
}
.section2 .section2_element {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 20px;
  padding: 22px;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.1);
}
.section2 .round {
  position: absolute;
  left: 15px;
  padding: 4px 7px;
  color: white;
  font-size: 13px;
  background-color: #9356DC;
  border-radius: 50%;
}
.section2 .element_text {
  font-weight: bold;
  font-size: 14px;
}

.section3 {
  padding: 45px 15px;
  background-color: rgb(245, 245, 245);
}
.section3 .section3_bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.bg_img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  z-index: 2;
  max-width: 500px;
  margin-top: -60px;
  padding: 30px 15px 75px 15px;
  background-color: white;
  border-radius: 30px;
}
.menu .menu_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu .line {
  width: 40px;
  margin-top: 3px;
  border-bottom: solid 3px #99E2D0;
}
.menu .menu_part {
  width: 100%;
}
.menu .menu_meal {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 12px 15px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.1);
}
.menu .meal_price {
  display: flex;
  align-items: flex-end;
}/*# sourceMappingURL=main.css.map */