.btn{
    width: 220px;
    padding: 17px;
    background: linear-gradient($secondary-color, $primary-color);
    border: none;
    border-radius: 50px;
    opacity: 1;
    transition: opacity 0.5s;

    &:hover, &:active{
        cursor: pointer;
        opacity: 0.7;
    }
}
.heart{
    display: flex;
    cursor: pointer;

    &:hover{
         .icon_fullheart{
            animation: anim_like 0.4s ease-out forwards;
        }
    }
}