.icon_heart{
    position: relative;
    font-size: 23px;
}

.icon_fullheart{
    position: absolute;
    font-size: 23px;
    opacity: 0;

    .fa-solid{
        background:-webkit-linear-gradient($primary-color, $secondary-color);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
    }
}
