.operation_element{
    i{
        font-size: 19px;
        color: grey;
        margin: 0 10px;
    }
    &:hover, &:focus{
        i{
            color: $primary-color;
        }
    }
}

.icon_heart{
    position: relative;
}
.icon_fullheart{
    position: absolute;
    opacity: 0;

    .fa-solid.fa-heart{
        background:-webkit-linear-gradient($primary-color, $secondary-color);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
    }
}

.icon_arrow{
    position: absolute;
    left: 20px;

    .fa-arrow-left{
        font-size: 20px;
    }
}

.icon_selectedmeal{
    .fa-circle-check{
        color: white;
        animation: anim_turn 0.5s forwards;
    }
}

footer{
    * i{
        width: 5px;
    }
}