
.location{
    height: 50px;
    @include center;
    gap: 10px;
    background-color: $bg-dark;
    box-shadow: 0px -2px 6px -2px rgba(0,0,0,0.35);
}

.reservation{
    @include center; 
    flex-direction: column;
    padding: 40px 0 50px;
    text-align: center;
    background-color: $bg-medium;

    .reservation_text{
        max-width: 320px;

        @media (min-width: 768px){
            max-width: 70%;
        }
    }
    h1{
        margin-bottom: 15px;
    }
    .btn{
        margin-top: 30px;
    }
}

.operation{
    padding: 45px 15px;
    background-color: $bg-light;

    .operation_block{
        margin-left: 10px;

        @media (min-width: 1024px){
            display: flex;
            justify-content: space-around;
        }
    }
    .operation_element{
        position: relative;
        @include center;
        justify-content: flex-start;
        gap: 15px;
        margin-top: 20px;
        padding: 25px;
        background-color: $bg-medium;
        border-radius: 20px;
        box-shadow: 0px 4px 12px 4px rgba(0,0,0,0.1);

        @media (min-width: 1024px){
            width: 30%;
        }
    }
    .operation_element_colored{
        background-color: lighten($primary-color, $amount: 35);
    }
    .round{
        position: absolute;
        left: -10px;
        padding: 4px 7px;
        background-color: $primary-color;
        border-radius: 50%;
    }
}

.restaurants{
    padding: 50px 20px;
    background-color: $bg-medium;

    h2{
        margin-bottom: 20px;
    }
    .restaurants_block{
        @include center;
        flex-direction: column;
        gap: 15px;

        @media (min-width: 768px){
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px;
        }
        @media (min-width: 1024px){
            gap: 0;
            justify-content: space-between;
        }
    }
}